.navbar{
	display: flex;
	width: 100%;
	align-items: center;
}

.collapse{
	margin-top: 6px;
}
.content{
	height: 600px;
}
.delete-article{
    margin-left: 10px;
}
.messages .alert.alert-error{
	display: block;
	padding: 15px 20px;
	color: #fff;
	background-color: #a94442;
	font-size: 18px;
	font-weight: 600;
	border-color: #ebccd1;
}
.messages .alert.alert-success_msg{
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
	font-size: 18px;
	font-weight: 600;
	display: block;
	padding: 15px 20px;
}